.gp-button {
  --primary-color: var(--digital-blue-600);
  --primary-color-dark: var(--digital-blue-800);
  --primary-color-light: var(--digital-blue-400);
  --primary-color-lightest: var(--digital-blue-300);
  cursor: pointer;
  font-size: var(--button-text-size);
  text-transform: uppercase;
  border-radius: var(--border-radius-1h);
  padding: var(--space-base);
  padding-left: var(--space-2x);
  padding-right: var(--space-2x);
  font-weight: 500;
  margin: 0;
  display: flex;
  column-gap: var(--space-base);
  text-align: center;
}

/* high emphasis, medium emphasis, low emphasis */

.gp-button--high {
  background-color: var(--primary-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}

.gp-button--high:hover {
  box-shadow: var(--depth-small);
}

.gp-button--high:active,
.button--high.toggled {
  box-shadow: none;
  background-color: var(--primary-color-dark);
}

.gp-button--medium {
  background-color: transparent;
  color: var(--primary-color);
}

.gp-button--medium:hover,
.gp-button--low:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.gp-button--medium:active,
.gp-button--medium.toggled,
.gp-button--low:active,
.gp-button--low.toggled {
  background-color: rgba(0, 0, 0, 0.1);
}

.gp-button--low {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid transparent;
}

.dark.gp-button--high {
  background-color: var(--primary-color-light);
  border-color: var(--primary-color-light);
  color: black;
}

.dark.gp-button--high:hover {
  box-shadow: var(--depth-small);
}

.dark.gp-button--high:active,
.dark.gp-button--high.toggled {
  box-shadow: none;
  background-color: var(--primary-color-lightest);
  border-color: var(--primary-color-lightest);
}

.dark.gp-button--medium {
  background-color: transparent;
  color: var(--primary-color-light);
  border-color: var(--primary-color-light);
}

.dark.gp-button--medium:hover,
.dark.gp-button--low:hover {
  background-color: var(--primary-color-dark);
}

.dark.gp-button--medium:active,
.dark.gp-button--medium.toggled,
.dark.gp-button--low:active,
.dark.gp-button--low.toggled {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--primary-color-lightest);
}

.dark.gp-button--medium:active,
.dark.gp-button--medium.toggled {
  border-color: var(--primary-color-lightest);
}

.dark.gp-button--low {
  background-color: transparent;
  color: var(--primary-color-light);
  border: 1px solid transparent;
}

/* I don't like how to select dark mode here. Yikes. */
.gp-button--compact,
.dark.gp-button--compact {
  padding: var(--space-1h);
  padding-left: var(--space-base);
  padding-right: var(--space-base);
  font-size: var(--button-text-size-compact);
  column-gap: var(--space-1h);
}
