.gp-chip {
  --background-color: var(--cool-gray-150);
  --content-color: var(--cool-gray-750);
  --text-size: var(--text-02);
  --hover-shadow: 0px 2px 0 rgb(0, 0, 0, .3);
  --content-color--hovered: var(--cool-gray-800);
  --background-color--hovered: var(--cool-gray-200);

  --background-color--toggled: var(--cool-gray-300);
  --content-color--toggled: var(--cool-gray-900);
  --background-color--toggled--hovered: var(--cool-gray-350);
  --content-color--toggled--hovered: var(--cool-gray-900);
  --hover-shadow--toggled-hovered: 0px 2px 0 var(--cool-gray-900);

  border: none;
  position: relative;
  background-color: var(--background-color);
  color: var(--content-color);
  font-size: var(--text-size);

  padding: calc(var(--space-1h) * 1.5);
  padding-left: calc(var(--space-base) * 1.3);
  padding-right: calc(var(--space-base) * 1.3);
  border-radius: var(--space-2x);
  display: flex;
  align-items: center;
  transition: background-color 200ms, color 200ms, box-shadow 200ms;
  cursor: pointer;
}

.gp-chip:hover {
  --background-color: var(--background-color--hovered);
  --content-color: var(--content-color--hovered);
  box-shadow: var(--hover-shadow);
}

.gp-chip--disabled {
  opacity: .5;
  pointer-events: none;
}

.gp-chip--slot {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: calc(var(--space-1h) * 1.5);
}

.gp-chip--toggled {
  --background-color: var(--background-color--toggled);
  --content-color: var(--content-color--toggled);
}

.gp-chip--toggled:hover {
  --background-color: var(--background-color--toggled--hovered);
  --content-color: var(--content-color--toggled--hovered);
  --hover-shadow: var(--hover-shadow--toggled--hovered);

}

.gp-chip--icon {
  display: inline-grid;
  align-content: center;
  box-sizing: border-box;
  transition: background-color 200ms, color 200ms, box-shadow 200ms;
  cursor: pointer;
}

.gp-chip--icon--left {
  transform: translateX(calc(var(--space-1q) * -1));
  padding-right: calc(var(--space-1q) * 1.3);

}

.gp-chip--icon--right {
  transform: translateX(calc(var(--space-1q) * 1.3));
  padding-left: calc(var(--space-1h) * 1.5);
}

.gp-chip--icon:hover {
  --content-color: var(--pantone-red-500);
}

.gp-chip-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1h) var(--space-base);
}
