html {
  font-family: sans-serif;
}

body.sb-show-main {
  background: none;
  background-color: var(--cool-gray-100);
}

#root {
  background-color: white;
  width: max-content;
  min-width: 834px;
  margin: auto;
  padding: var(--space-2x);
  border-radius: var(--space-base);
  box-shadow: var(--depth-small);
}

._ {
  width: var(--space-72x);
  height: var(--space-12x);
  background: linear-gradient(
    to left,
    var(--cool-gray-100),
    var(--cool-gray-200)
  );
  border: var(--space-1h) solid var(--cool-gray-600);
  border-radius: var(--space-1h);
}

._small {
  width: var(--space-16x);
}

header {
  padding: var(--space-4x);
  padding-top: var(--space-8x);
}

header div:first-child {
  text-transform: uppercase;
  color: var(--cool-gray-650);
}

header h1 {
  margin: 0;
  padding-bottom: var(--space-3x);
}

p {
  max-width: 600px;
  line-height: 1.5;
  font-size: var(--text-03);
}
