.option-menu {
  width: max-content;
}

.option-menu__title {
  text-align: center;
}

.option-menu__button {
  background-color: white;
  border-radius: var(--space-1h);
  color: var(--cool-gray-650);
  display: grid;
  font-size: var(--text-015);
  grid-auto-flow: column;
  margin: 0;
  padding: var(--space-1h) var(--space-1h) var(--space-1h) var(--space-base);
  text-align: left;
  width: 100%;
}

.option-menu__button:has(> * + *) {
  grid-column-gap: var(--space-1h);
}
.option-menu__button--active {
  background-color: var(--cool-gray-150);
}

.option-menu__button:disabled {
  background-color: var(--cool-gray-subtle);
  color: var(--cool-gray-500);
  font-style: italic;
}

.option-menu__down-caret {
  align-items: center;
  display: grid;
  justify-items: center;
  justify-self: end;
  transition: transform 100ms;
}

.option-menu__down-caret--active {
  transform: rotate(-180deg);
}

.option-menu__list-item__inner {
  --color: var(--cool-gray-700);
  --subcolor: var(--cool-gray-650);

  /* Do not set a grid-gap here; it would appear whether or not optional
     children like checkbox or description are present. Instead, set margins on
     those elements. The margins will only appear if the elements exist. */
  display: grid;
  grid-template-areas:
    "checkbox title slot-right"
    ". description slot-right";
  grid-template-columns: auto 1fr auto;
}

.option-menu__list-item__checkbox {
  color: var(--color);
  display: grid;
  grid-area: checkbox;
  margin-right: var(--space-2x);
  place-items: center;
}

.option-menu__list-item__checkbox--disabled {
  --color: var(--cool-gray-350);
}

.option-menu__list-item__title {
  color: var(--cool-gray-700);
  font-size: var(--text-02);
  grid-area: title;
  line-height: 1;
  place-self: center start;
}

.option-menu__list-item__title--disabled {
  --color: var(--cool-gray-600);
  font-style: italic;
}

.option-menu__list-item__description {
  color: var(--subcolor);
  font-size: var(--text-015);
  grid-area: description;
  margin-top: var(--space-1x);
  max-width: var(--space-32x);
  place-self: center start;
}

.option-menu__list-item__description--disabled {
  --subcolor: var(--cool-gray-600);
  font-style: italic;
}

.option-menu__list-item__slot-right {
  grid-area: slot-right;
  margin-left: var(--space-2x);
  place-self: center end;
}

.option-menu__list-item__divider {
  border: none;
  border-bottom: 1px solid var(--cool-gray-200);
  margin: 0;
  padding: 0;
}
