.option-menu__button {
  padding: var(--space-1h);
  padding-left: var(--space-base);
  padding-right: var(--space-1h);
  font-size: var(--text-015);
  margin:0;
  text-align: left;
  background-color: white;
  display:grid;
  grid-auto-flow: column;
  width: max-content;
  grid-column-gap: var(--space-1h);
  color: var(--cool-gray-650);
  border-radius: var(--space-1h);
}

.option-menu__button--active {
  background-color: var(--cool-gray-150);
}

.option-menu__button:disabled {
  color: var(--cool-gray-500);
  font-style: italic;
  background-color: var(--cool-gray-subtle);
}

.option-menu__label {
  color: var(--cool-gray-700);
  padding-left: var(--space-base);
  padding-right: var(--space-base);
  width: max-content;
}

.option-menu__down-caret {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-self: end;
  transition: transform 100ms;
}

.option-menu__down-caret--active {
  transform: rotate(-180deg);
}

.option-menu__list-item__content {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--space-2x);
  align-items: start;
  justify-content: start;
  --color: var(--cool-gray-700);
  --subcolor: var(--cool-gray-650);
}

.option-menu__list-item__icon {
  display: grid;
  align-items: center;
  color: var(--color);
}

.option-menu__list-item__icon--disabled {
  --color: var(--cool-gray-350);
}

.option-menu__list-item__text {
  width: 100%;
  justify-self: stretch;
}

.option-menu__list-item__title {
  font-size: var(--text-02);
  color: var(--color);
}

.option-menu__list-item__description {
  padding-top: var(--space-1q);
  max-width: var(--space-32x);
  font-size: var(--text-015);
  color: var(--subcolor);
}

.option-menu__list-item__divider {
  border: none;
  border-bottom: 1px solid var(--cool-gray-200);
  padding:0px;
  margin:0px;
}

.option-menu__list-item__title--disabled {
  --color: var(--cool-gray-600);
  font-style: italic;
}

.option-menu__list-item__description--disabled {
  --subcolor: var(--cool-gray-600);
  font-style: italic;
}
